<div class="">
    <div>
        <h3>הרשמה</h3>
        <form>
            <input type="text" placeholder="שם פרטי" class="form-control">
        </form>
    </div>
</div>











<!-- <div class="row justify-content-center">
    <div class="col col-sm-2 col-md-5 col-lg-4 col-xl-2 ">
        <h3 style="text-align: center;margin-top: 15px;">רישום חברה</h3>
        <form [formGroup]="myForm" class="container  mx-auto row g-2 needs-validation" style="margin-top: 5px;"
            novalidate> -->
